<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="filepath" value ="E:\dotNetDemo\TournamentTrackerDataFile"/>
		<add key ="geaterWins" value ="1"/>
		<add key ="senderEmail" value ="abc@example.com"/>
		<add key =" senderDisplayName" value ="example"/>
	</appSettings>
	<connectionStrings>
		<add name ="Tournaments" connectionString="Server=PC82;Database=Tournaments;Trusted_Connection=True;" providerName ="System.Data.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="127.0.0.1" port="25" userName="myemail@example.com" password="mypassword" enableSsl="false" />
			</smtp>
		</mailSettings>
	</system.net>

</configuration>